            <footer class="site-footer pruning-border">
                <div class="container">
                    <ul class="social">
                        <li><a href="#" target="_blank"><i class="fa fa-vk"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    </ul>
                    <ul class="links">
                        <li><a href="about.html">О нас</a></li>
                        <li><a href="rules.html">Правила</a></li>
                        <li><a href="#">Конфеденциальность</a></li>
                        <li><a href="#">Поддержка</a></li>
                    </ul>
                    <div class="copyright">© Tripcheap, 2016</div>
                </div>
            </footer>

        <script src="https://use.fontawesome.com/4d7b082d35.js"></script>
        <script src="js/external.js"></script>
        <script src="js/internal.js"></script>