            <header class="site-header">
                <div class="container">
                    <div class="logo">
                        <a href="index.html">
                            <div class="logo-symbol">Т</div>
                            <div class="logo-name">Cheap<strong>Trip</strong></div>
                        </a>
                    </div>
                    <div class="profile-menu">
                        <svg class="icon icon-user">
                            <use xlink:href="#icon-user"></use>
                        </svg>
                        <ul class="profile-list">
                            <li><a href="#">Войти</a></li>
                            <li><a href="#" data-toggle="modal" data-target="#register_guest">Регистрация гостя</a></li>
                            <li><a href="#" data-toggle="modal" data-target="#register_master">Стать хозяином</a></li>
                        </ul>
                    </div>
                </div>
            </header>
