            <header class="site-header-inline">
                <div class="container">
                    <div class="logo">
                        <a href="index.html">
                            <div class="logo-symbol">Т</div>
                            <div class="logo-name">Cheap<strong>Trip</strong></div>
                        </a>
                    </div>
                    <div class="profile-block">
                        <a href="#" class="thumb"><img src="img/avatar.png" alt=""></a>
                        <p class="name">Иван Иванов</p>
                        <a href="#" class="btn btn-default text-lowercase">профиль</a>
                    </div>
                </div>
            </header>