<li><svg class="icon icon-bed" title="Спальное место"><use xlink:href="#icon-bed"></use></svg></li>
<li><svg class="icon icon-wifi" title="Wifi"><use xlink:href="#icon-wifi"></use></svg></li>
<li><svg class="icon icon-coffee" title="Кофеварка"><use xlink:href="#icon-coffee"></use></svg></li>
<li><svg class="icon icon-leaf" title="Природа"><use xlink:href="#icon-leaf"></use></svg></li>
<li><svg class="icon icon-car" title="Парковка"><use xlink:href="#icon-car"></use></svg></li>
<li><svg class="icon icon-cutlery" title="Кухня"><use xlink:href="#icon-cutlery"></use></svg></li>
<li><svg class="icon icon-clock" title="Часы"><use xlink:href="#icon-clock"></use></svg></li>
<li><svg class="icon icon-phone" title="Телефон"><use xlink:href="#icon-phone"></use></svg></li>
<li><svg class="icon icon-desktop" title="Компьютер"><use xlink:href="#icon-desktop"></use></svg></li>
