<aside class="sidebar-menu">
	<ul>
		<li @@if ( context.item === 1) { class="active" }><a href="requests.html">Запросы</a></li>
		<li @@if ( context.item === 2) { class="active" }><a href="bookmarks.html">Закладки</a></li>
		<li @@if ( context.item === 3) { class="active" }><a href="reservation.html">Бронирования</a></li>
		<li @@if ( context.item === 4) { class="active" }><a href="settings_guest.html">Настройки</a></li>
		<li @@if ( context.item === 5) { class="active" }><a href="#">Выход</a></li>
	</ul>
</aside>
